@model IEnumerable<COVT_Web.Models.DB.PatsientiDb>

<head>
    <link rel="stylesheet" href="~/css/mystile.css" />
</head>
<body>
    <form asp-action="Patsienti" method="get">
        <div class="form-group">
            <label for="searchInput">Поиск пациента</label>
            <input type="text" name="poisk" id="searchInput" value="@ViewData["Poiskk"]" />
        </div>
    </form>
    <p></p>
    <a asp-controller="Patsienti" asp-action="Create">Добавить пациента</a>
    <div id="partialViewContainer">
        @Html.Partial("_PartialViewPatsienti", Model)
    </div>
    <table class="content-table">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Наличие операции</th>
                <th>Телефон</th>
                <th>Адрес</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody id="searchResults">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.familiya</td>
                    <td>@item.data_rozhdeniya</td>
                    <td>@item.nalichie_operatsii</td>
                    <td>@item.telefon</td>
                    <td>@item.adres</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Patsienti" asp-route-id="@item.id_patsienta">Изменить</a>
                    </td>
                    <td>
                        <form asp-controller="Patsienti" asp-action="Delete" method="post" asp-route-id="@item.id_patsienta">
                            <input type="submit" value="Удалить" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var poisk = $(this).val().trim();
                $.ajax({
                    url: '/Patsienti/Patsienti',
                    type: 'GET',
                    data: { poisk: poisk },
                    success: function (result) {
                        $('#partialViewContainer').html(result);
                    }
                });
            });
        });
    </script>
}