@model COVT_Web.Models.ViewModel.KartaAmView

<head>
    <link rel="stylesheet" href="~/css/mystile.css" />
</head>
<body>
    <form asp-action="KartaAmView" asp-controller="Ambulatorka" asp-route-id="@Model.id_karti_patsienta">

        <div>
            <label>Пациент: @Model.patsient</label>
        </div>

        <div>
            <label>Дата приёма: @Model.data_priema</label>
        </div>

        <div>
            <label>Врач: @Model.vrach</label>
        </div>

        <div>
            <label>Болезнь: @Model.bolezn</label>
        </div>

        <div>
            <label>Кабинет: @Model.id_kobineta</label>
        </div>

        <div>
            <label>Жалобы:</label>
            <textarea asp-for="@Model.zhalobi" value="@Model.zhalobi"></textarea>
        </div>

        <div>
            <label>История заболевания:</label>
            <textarea asp-for="@Model.ist_zab" value="@Model.ist_zab"></textarea>
        </div>

        <div>
            <label>Настоящий статус:</label>
            <textarea asp-for="@Model.nast_stat" value="@Model.nast_stat"></textarea>
        </div>

        <div>
            <label>Местный статус:</label>
            <textarea asp-for="@Model.mest_stat" value="@Model.mest_stat"></textarea>
        </div>

        <div>
            <label>Дополнительные методы обследования:</label>
            <textarea asp-for="@Model.dop_met_obsl" value="@Model.dop_met_obsl"></textarea>
        </div>

        <div>
            <label>Диагноз:</label>
            <textarea asp-for="@Model.diagnoz" value="@Model.diagnoz"></textarea>
        </div>

        <div>
            <label>План обследования:</label>
            <textarea asp-for="@Model.plan_obsl" value="@Model.plan_obsl"></textarea>
        </div>

        <div>
            <label>План лечения:</label>
            <textarea asp-for="@Model.plan_lech" value="@Model.plan_lech"></textarea>
        </div>

        <div>
            <label>Заключение:</label>
            <textarea asp-for="@Model.zakl" value="@Model.zakl"></textarea>
        </div>

        <div>
            <button type="submit" class="button-like">Сохранить</button>
            <span><button id="generateButton" asp-route-id="@Model" class="button-like">Сгенерировать документ</button></span>
        </div>
        </form>
    

    <h2>Информация о файлах:</h2>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Дата загрузки</th>
                    <th>Описание</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in ViewBag.Files)
                {
                    <tr>
                        <td>@file.date</td>
                        <td>@file.opisanie</td>
                        <td>
                            <a asp-action="OpenFile" asp-controller="Files" asp-route-id="@file.id_file">Смотреть</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</body>



@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#generateButton').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GenerateDocument", "Ambulatorka")',
                    success: function (data) {
                        alert('Документ сгенерирован успешно!');
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = "Произошла ошибка при генерации документа: " + error;
                        alert(errorMessage);
                    }
                });
            });
        });

        function updateTextareaHeight(textarea) {
            const scrollTop = textarea.scrollTop;

            textarea.style.height = "auto"; // Сначала установим auto
            let scHeight = textarea.scrollHeight;
            textarea.style.height = `${scHeight}px`;

            textarea.scrollTop = scrollTop;
        }

        // Обработчик для реагирования на нажатия клавиш в поле textarea
        $('textarea').on('input', function () {
            updateTextareaHeight(this);
        });
</script>
}
